<div class="list-container">
  <div class="d-flex flex-row justify-content-between header">
      <div class="title">{{ "TABLE.HEADERS.DATE" | translate| uppercase}}</div>
      <div class="title campaign">{{ "TABLE.HEADERS.CAMPAIGN" | translate | uppercase}}</div>
      <div class="title">{{ "TABLE.HEADERS.VIEW" | translate| uppercase}}</div>
      <div class="title actions">{{ "TABLE.HEADERS.ACTIONS" | translate| uppercase}}</div>
  </div>
  <div class="gtable-container">
    <div class="gtable">
      <ng-container *ngFor="let campaign of campaigns">
        <app-campaign-item [campaign]="campaign"></app-campaign-item>
      </ng-container>
    </div>
  </div>
</div>