<!-- Header bar-->
<div class="headerbar" role="banner">
  <div class="d-flex col-lg-10 offset-lg-1 justify-content-between">
  <div>
   <img width="145" alt="BST Logo" src="/assets/images/bst-logo.png" />
  </div>
    <div class="dropdown offset-">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="lang-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        En
      </button>
      <div class="dropdown-menu" aria-labelledby="lang-selector">
        <button class="dropdown-item" type="button">En (English)</button>
        <button class="dropdown-item" type="button">ES (Spanish)</button>
      </div>
  </div>
  </div>
</div>

<div class="d-flex flex-column col-lg-10 offset-lg-1 justify-content-between content" role="main">

  <div class="header">Manage Campaigns</div>
  <div class="d-flex nav-links">
    <div class="link" [ngClass]="{'active': campaignType==CAMPAIGNTYPES.UPCOMING}" (click)="changeCampaign(CAMPAIGNTYPES.UPCOMING)">Upcoming Campaigns</div>
    <div class="link" [ngClass]="{'active': campaignType==CAMPAIGNTYPES.LIVE}" (click)="changeCampaign(CAMPAIGNTYPES.LIVE)">Live Campaigns</div>
    <div class="link" [ngClass]="{'active': campaignType==CAMPAIGNTYPES.PAST}" (click)="changeCampaign(CAMPAIGNTYPES.PAST)">Past Campaigns</div>
  </div>
  <router-outlet></router-outlet>

</div>

